@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--font-sans: "Inter", sans-serif;
		--font-serif: "Noto Serif", serif;
		--font-sans-bengali: "Noto Sans Bengali", sans-serif;
		--font-serif-bengali: "Noto Serif Bengali", serif;
		--font-anek-bangla: "Anek Bangla", sans-serif;
		--font-geist-mono: "Geist Mono", monospace;
		--font-geist-sans: "Geist Sans", sans-serif;
		--d: 2500ms;
		--angle: 90deg;
		--gradX: 100%;
		--gradY: 50%;
		--c1: rgba(168, 239, 255, 1);
		--c2: rgba(168, 239, 255, 0.1);
	}
	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--font-sans: "Inter", sans-serif;
		--font-serif: "Noto Serif", serif;
		--font-sans-bengali: "Noto Sans Bengali", sans-serif;
		--font-serif-bengali: "Noto Serif Bengali", serif;
		--font-anek-bangla: "Anek Bangla", sans-serif;
		--font-geist-mono: "Geist Mono", monospace;
		--font-geist-sans: "Geist Sans", sans-serif;
	}
}

/* ************************************* */
/* Fonts */

.text-sans {
	font-family: var(--font-sans);
}

.text-serif {
	font-family: var(--font-serif);
}

.text-sans-bn {
	font-family: var(--font-sans-bengali);
}

.text-serif-bn {
	font-family: var(--font-serif-bengali);
}

.text-anek-bn {
	font-family: var(--font-anek-bangla);
	word-spacing: 0.5rem;
}

.text-geist-mono {
	font-family: var(--font-geist-mono);
}

.text-geist-sans {
	font-family: var(--font-geist-sans);
}

/* ************************************* */

/* Hide scrollbar for Webkit-based browsers */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
	scrollbar-width: none; /* Firefox */
}

/* Ensure scrolling still works */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
}

/* ************************************* */
/* Patterns */

.chess-pattern {
	background-image: repeating-conic-gradient(#cccccc 0% 25%, #ffffff 0% 50%);
	background-position: 0 0, 32px 32px;
	background-size: 16px 16px;
	background-color: #eaeaea;
}

/* ************************************* */
/* Animations */

.hypnotic {
	width: 56px;
	height: 56px;
	border: 2.2px solid #000000;
	background: repeating-conic-gradient(#0000 0 90deg, #000000 0 180deg),
		repeating-conic-gradient(#000000 0 90deg, #0000 0 180deg);
	background-size: 17.9px 17.9px;
	background-position: 0 0;
	animation: hypnotic-60mq8qmd 2s infinite;
}

@keyframes hypnotic-60mq8qmd {
	100% {
		background-position: 0px 35.8px, 17.9px 0px;
	}
}

.wrap-all {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
